.zlide_thumbs {
    display: flex;
}

.zlide_thumb {
    display: block;
}

.zlide_thumb img {
    width: 100%;
}

.zlide {
  transition: transform .2s ease-in-out;
}

.zlide_slide img {
    width: 100%;
}

.zlide_controls {
    position: absolute !important;
    height: 88%;
    width: 100%;
    top: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+20,000000+33,000000+66,ffffff+80,ffffff+100&1+0,0.6+20,0+33,0+66,0.6+80,1+100 */
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0.6) 20%, rgba(0,0,0,0) 33%, rgba(0,0,0,0) 66%, rgba(255,255,255,0.6) 80%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0.6) 20%,rgba(0,0,0,0) 33%,rgba(0,0,0,0) 66%,rgba(255,255,255,0.6) 80%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0.6) 20%,rgba(0,0,0,0) 33%,rgba(0,0,0,0) 66%,rgba(255,255,255,0.6) 80%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 );
}

.zlide_controls_prev {
    position: absolute;
    height: 50px;
    top: calc((100% - 50px) / 2);
    left: 8%;
    width: 50px;
}

.zlide_controls_prev:before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 100 100"><g transform="scale(0.5)"><path fill="#646464" d="M 50,0 L 55,5 L 10,50 L 55,95 L 50,100 L 0,50 Z" /></g></svg>');
}

.zlide_controls_next {
    position: absolute;
    height: 50px;
    top: calc((100% - 50px) / 2);
    right: 8%;
    width: 50px;
}

.zlide_controls_next:before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 100 100"><g transform="scale(0.5)"><path fill="#646464" d="M 50,0 L 45,5 L 90,50 L 45,95 L 50,100 L 100,50 Z" /></g></svg>');
}
